<div [hidden]="isSubmitted">
  <form #gameForm="ngForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name: </label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="model.name"
        required
      />
    </div>
    <div>
      <label for="game">Game:</label>
      <select name="game" id="Game" [(ngModel)]="model.game">
        <option *ngFor="let game of games" [value]="game">{{ game }}</option>
      </select>
    </div>
    <button [disabled]="!gameForm.form.valid" type="submit">Submit</button>
  </form>
</div>

<div [hidden]="!isSubmitted">
  <h2>You submitted</h2>

  <p>Name: {{ model.name }}</p>
  <p>Game: {{ model.game }}</p>
  <button (click)="isSubmitted = false">Edit</button>
</div>
