<label for="Name">Name:</label>
<input type="text" [formControl]="Name" id="Name" />

<p>
  {{ Name.value }}
</p>

<button (click)="updateName()">Change name</button>
<br />
<hr />

<form [formGroup]="UserCreds" (ngSubmit)="onSubmit()">
  <label for="Username">Username:</label>
  <input type="text" formControlName="UserName" id="UserName" />
  <label for="Password">Password:</label>
  <input type="password" formControlName="PassWord" id="PassWord" />
  <button type="submit">Submit</button>
</form>
